from setuptools import setup

package_name = '{{ package_name }}'

setup(
    name=package_name,
    version='0.0.0',
    packages=[package_name],
    install_requires=['setuptools'],
    maintainer='{{ maintainer }}',
    maintainer_email='{{ maintainer_email }}',
    description='{{ description }}',
    license='Apache License 2.0',
    tests_require=['pytest'],
    entry_points={
        'console_scripts': [
            'talker = {{ package_name }}.talker:main',
        ],
    },
)